<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <queries>
        <package android:name="com.mygate.user" />
        <package android:name="com.flipkart.android" />
        <package android:name="com.amazon.mShop.android.shopping" />
        <package android:name="com.myntra.android" />
        <package android:name="in.swiggy.android" />
        <package android:name="com.application.zomato" />
        <package android:name="com.instagram.android" />
        <package android:name="com.facebook.katana" />
        <package android:name="com.google.android.youtube" />
        <package android:name="com.duolingo" />
        <package android:name="com.netflix.mediaclient" />
        <package android:name="com.amazon.avod.thirdpartyclient" />
        <package android:name="com.king.candycrushsaga" />
        <package android:name="com.truecaller" />
        <package android:name="com.twitter.android" />
        <package android:name="com.zhiliaoapp.musically" />
        <package android:name="com.snapchat.android" />
        <package android:name="com.reddit.frontpage" />
        <package android:name="com.pinterest" />
        <package android:name="com.spotify.music" />
        <package android:name="com.ubercab.eats" />
        <package android:name="com.dd.doordash" />
        <package android:name="com.grubhub.android" />
        <package android:name="com.ebay.mobile" />
        <package android:name="com.alibaba.aliexpresshd" />
        <package android:name="com.etsy.android" />
        <package android:name="com.tinder" />
        <package android:name="tv.twitch.android.app" />
        <package android:name="com.disney.disneyplus" />
        <package android:name="com.hulu.plus" />
        <package android:name="com.linkedin.android" />

    </queries>

    <application
        android:name=".DoNotNotifyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:enableOnBackInvokedCallback="true"
        android:theme="@style/Theme.DoNotNotify">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.DoNotNotify">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".NotificationBlockerService"
            android:exported="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
    </application>

</manifest>